{% spaceless %}
	<div class="form_item">
		<label for="select" class="h4">Select Dropdown</label>
		<div class="form_item__dropdown" id="itemDropDown{{random('1234567890') ~ random('1234567890') ~ random('1234567890') ~ random('1234567890')}}">
			<select class="form_item__select">
				{% for option in options %}
					{% if option.type == 'optgroup' %}
						<optgroup label="{{ option.label }}">
							{% for sub_option in option.options %}
								<option value="{{ sub_option.value }}" {{ sub_option.selected ? ' selected="selected"' }}>{{ sub_option.label }}</option>
							{% endfor %}
						</optgroup>
					{% else %}
						{% if option.label == '- Any -' %}
							<option value="{{ option.value }}" {{ option.selected ? ' selected="selected"' }}></option>
						{% else %}
							<option value="{{ option.value }}">{{ option.label }}</option>
						{% endif %}
					{% endif %}
				{% endfor %}
			</select>
		</div>
	</div>
{% endspaceless %}
